html, body{
    height:100%;
    /* width:100%; */
}
body {
    background-color: black; 
    padding: 0; 
    margin: 2%; 
    display:flex;
    vertical-align: top;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /*prevents the screen from scrolling*/
    overflow-y: hidden;
}
span {
    display: flex;
    flex-direction: row;
}
#canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#controls{
    position: relative;
    top:70px;
    align-self: start;
    padding:5px;
}
#frequency {
    align-self: start;
    position:absolute;
    top:0px;
}
#amplitude {
    align-self: start;
    position:absolute;
    top:50px;
}
#boxS {
    align-self: start;
    width:100%;
    position:absolute;
    top:90px;
}
.showInstructions {
    position:relative;
    left:-360px;
    padding:5px;
    margin:2px;
    display: inline-block;
    border-radius: 5px;
    background-color: lightgreen;
}
.showInstructions:hover + .instructions{
    display: inline-block;
    background-color: grey;
    padding:20px;
}
.instructions{
    position: absolute;
    display: none;
    background-color: grey;
    padding:20px;
}